*{
    margin:0;
    padding: 0;
    font-family: 'montserrat';
    text-decoration: none;
}

body{
    background: #333;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    cursor: pointer;
    width: 340px;
    height: 480px
}

.front, .back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;

}

.front{
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right bottom, rgb(255, 102, 0), rgb(98, 0, 255));
}

.front h1{
    color: white;

}
.front{
    transform: perspective(600px) rotateY(0deg);

}
.back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.back-content{
    color: #2c3e50;
    text-align:center;
    width: 100%;
}

.sm{
    margin:20px 0;

}

.sm a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;

}
.sm a:hover{
    background: #2c3e50;
    color: white;
    
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);

}

.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
    
}